
/* SUPER POWER */
.superpowers-section {
    background: #0a0a0a; 
    padding: 60px 0;
}

.superpowers-section h3 {
    color: #e0e0e0;
    letter-spacing: 2px;
}

.power-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.power-card h4 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.power-card p {
    color: #bbb;
    font-size: 0.9rem;
}
/* INDRO SECTION */


.intro-image {
  width: 100%;
  height: auto;

}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;

}

.intro-title {
  font-size: 2rem; 
}

.intro-description {
  font-size: 1rem; 
  line-height: 1.6;
}


@media (max-width: 768px) {
  .intro-title {
    font-size: 1.75rem; 
  }

  .intro-description {
    font-size: 0.875rem; 
  }
}

@media (max-width: 576px) {
    .intro-image {
    display: none;
  }
  .intro-overlay{
    position:unset ;
  }
}




