
/* INDRO SECTION */


.intro-image {
  width: 100%;
  height: auto;

}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;

}

.intro-title {
  font-size: 2rem; 
}

.intro-description {
  font-size: 1rem; 
  line-height: 1.6;
}


@media (max-width: 768px) {
  .intro-title {
    font-size: 1.75rem; 
  }

  .intro-description {
    font-size: 0.875rem; 
  }
}

@media (max-width: 576px) {
    .intro-image {
    display: none;
  }
  .intro-overlay{
    position:unset ;
  }
}


/* SUPER POWER */
.superpowers-section {
  background: #0a0a0a; 

}

.superpowers-section h3 {
  color: #e0e0e0;
  letter-spacing: 2px;
}

.power-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.power-card h4 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.power-card p {
  color: #bbb;
  font-size: 0.9rem;
}

  /* Testimonial */
  .testimonial-card {
   
    border-radius: 10px;
    border: none;
    transition: transform 0.3s ease-in-out;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .testimonial-card:hover {
    transform: scale(1.03);
  }
  
  .testimonial-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid #ffd700; 
  }
  
  .testimonial-text {
    font-style: italic;
    font-size: 1rem;
  }
  
  .testimonial-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    opacity: 0.2;
  }
  
  
  /* News letter */
  .stay-connected-section {
    background-color: #202020;
    color: #f1f1f1;
    padding: 60px 0;
    overflow: hidden;
  }
  
 
  .section-subtitle {
    font-size: 1.2rem;
    max-width: 600px;
    margin:  auto ;
    color: #b3b3b3;
  }
  
  .newsletter-form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .newsletter-form .form-control {
    border-radius: 0;
    border: 1px solid #555;
    background: #2c2c2c;
    color: #f1f1f1;
  }


/* Chat bot */
.chatbot{
  position: fixed;
  bottom: 18%;
  z-index: 1;
  right: 8%;
  background-color:#0f0f0f ;
}

.chatBotBtn{
position: fixed;
z-index: 1;
right: 8%;
top: 85%;
}

@media(max-width:768px){
  .chatbot{
    right: 11%;
  }
  .chatBotBtn{
    right: 11%;
  }
}

  
 

